:root {
  --primaryColor: steelblue;
  --mainGreen: #6b9023;
  --secondaryGreen: #7ba428;
  --mainOrange: #ff8800;
  --mainWhite: #eee;
  --bgColor: #282c34;
  --scoreColor: steelblue;
}

* {
  margin: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--bgColor);
  color: var(--mainWhite);
  text-align: center;
}

.App {
  margin: 0 auto;
  max-width: 1200px;
  width: 95%;
}

.Home {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  /* border: 3px solid white; */
}

.Game {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.tile-container {
  display: flex;
  flex-wrap: wrap;
}

.intro {
  line-height: 1.6;
}

.tile {
  position: relative;
  height: 150px;
  width: 150px;
  margin: 5px;
  cursor: pointer;
}

.tile::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  background-color: none;
  transition: all 0.3s ease-in-out;
}

.tile:hover::after {
  background-color: rgba(0, 204, 204, 0.4);
}

.btn {
  text-decoration: none;
  color: var(--mainWhite);
  background-color: var(--mainGreen);
  letter-spacing: 3px;
  font-size: 28px;
  width: 140px;
  outline: 0;
  border-radius: 8px;
  display: block;
  padding: 6px 0;
  text-transform: uppercase;
  margin: 16px auto;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  background-color: var(--mainGreen);
}

.btn:hover {
  background-color: var(--secondaryGreen);
}

.score {
  font-size: 26px;
  padding: 16px 22px;
  border-radius: 8px;
  background-color: var(--scoreColor);
}

.call-to-action {
  position: relative;
}

.alert {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  top: -100px;
  padding: 0.75rem 1.25rem;
  color: var(--mainWhite);
  text-align: center;
  text-transform: capitalize;
  font-size: 20px;
  font-weight: 700;
  width: 250px;
  margin: 2rem auto 0 auto;
  border-radius: 16px;
  text-transform: capitalize;
}
.alert-correct {
  background: var(--mainGreen);
}
.alert-wrong {
  background: var(--mainOrange);
}
